body {
    margin: 20px 5px;
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    color: #000000;
    background-color: #E0FFFF;

    background-image:
        radial-gradient(#00000033 2px, transparent 2.5px),
        linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 80%);
    background-size: 15px 15px, 100% 100%;
    background-repeat: repeat, no-repeat;
    background-blend-mode: lighten;
    }

img {
    width: 500px;
    height: auto;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    border-radius: 10px;
    }

img:hover {
    box-shadow: 0 0 20px hotpink, 0 0 30px deeppink;
    transform: scale(1.05);
    }